<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Amazon</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
	<header>
		<div class="navbar">
			<div class="nav-logo border">
				<div class="logo"></div>
			</div>

			<div class="nav-address border">
				<p class="add-first">Deliver to</p>
				<div class="add-icon">
					<i class="fa-solid fa-location-dot"></i>
					<p class="add-last">India</p>
				</div>
			</div>

			<div class="nav-search">
				<select name="" id="search-select">
					<option value="">All</option>
				</select>
				<input type="text" class="search-input" placeholder="Search Amazon">
				<div class="search-icon">
					<i class="fa-solid fa-magnifying-glass"></i>
				</div>
			</div>

			<div class="nav-singin border">
				<p><span>Hello, sign in</span></p>
				<p class="nav-last">Account & Lists </p>
			</div>

			<div class="nav-return border">
				<p><span>Returns</span></p>
				<p class="nav-last"> & Orders </p>
			</div>

			<div class="nav-cart border">
				<i class="fa-solid fa-cart-shopping"></i>
				Cart
			</div>
		</div>

		<div class="panel">
			<div class="panel-all">
				<i class="fa-solid fa-bars"></i>
				All
			</div>

			<div class="panel-ops">
				<p>Today's Deals</p>
				<p>Customer Service</p>
				<p>Registry</p>
				<p>Gift Cards</p>
				<p>Sell</p>
			</div>

			<div class="panel-deals">
				Shop deals in Electronics
			</div>
		</div>
	</header>
</body>
</html>